@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 background-color: #FFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --blue-primary: #0093CD;
  --blue-lightest: #5EEBFF;
  --blue-lighter: #3BD4FF;
  --blue-light: #00BEFB;
  --blue-medium-light: #00A8E4;
  --blue-medium: #007EB7;
  --blue-medium-dark: #006AA1;
  --blue-dark: #00578C;
  --blue-darkest: #004477;

  --blue-white: #eff6ff;
  --white: #ffff
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}